body[class*=rd] *,
body[class*=rd] ::before,
body[class*=rd] ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

body[class*=rd] {
  --rd-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--rd-bg-opacity));
}
body[class*=rd] body {
  overflow: hidden;
}
body[class*=rd] .notice {
  display: flex !important;
  height: 2.5rem !important;
  align-items: center !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  margin: 0px;
  border-radius: 0.25rem;
  border-width: 1px;
  --rd-border-opacity: 1;
  border-color: rgb(195 196 199 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  --rd-text-opacity: 1;
  color: rgb(100 105 112 / var(--rd-text-opacity));
  --rd-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --rd-shadow-colored: 0 1px 2px 0 var(--rd-shadow-color);
  box-shadow: var(--rd-ring-offset-shadow, 0 0 #0000), var(--rd-ring-shadow, 0 0 #0000), var(--rd-shadow);
}
body[class*=rd] .notice p {
  margin: 0px;
}
body[class*=rd] .notice.notice-success {
  --rd-border-opacity: 1;
  border-color: rgb(184 230 191 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(237 250 239 / var(--rd-bg-opacity));
  --rd-text-opacity: 1;
  color: rgb(0 112 23 / var(--rd-text-opacity));
}
body[class*=rd] .notice.notice-error {
  --rd-border-opacity: 1;
  border-color: rgb(250 207 210 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(252 240 241 / var(--rd-bg-opacity));
  --rd-text-opacity: 1;
  color: rgb(179 45 46 / var(--rd-text-opacity));
}
body[class*=rd] .notice .notice-dismiss {
  display: none;
}
body[class*=rd] #wpcontent,
body[class*=rd] #wpbody-content {
  padding: 0;
}
body[class*=rd] #wpfooter {
  display: none;
}
body[class*=rd] .rd-card {
  overflow: hidden;
  border-radius: 0.25rem;
  border-width: 1px;
  --rd-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  --rd-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --rd-shadow-colored: 0 1px 3px 0 var(--rd-shadow-color), 0 1px 2px -1px var(--rd-shadow-color);
  box-shadow: var(--rd-ring-offset-shadow, 0 0 #0000), var(--rd-ring-shadow, 0 0 #0000), var(--rd-shadow);
}
body[class*=rd] .button {
  display: flex !important;
  height: 2.5rem !important;
  align-items: center !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border-radius: 0.25rem;
  --rd-bg-opacity: 1;
  background-color: rgb(34 113 177 / var(--rd-bg-opacity));
  font-weight: 600;
  --rd-text-opacity: 1;
  color: rgb(255 255 255 / var(--rd-text-opacity));
}
body[class*=rd] .button:hover {
  --rd-bg-opacity: 1;
  background-color: rgb(19 94 150 / var(--rd-bg-opacity));
}
body[class*=rd] .button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --rd-ring-offset-shadow: var(--rd-ring-inset) 0 0 0 var(--rd-ring-offset-width) var(--rd-ring-offset-color);
  --rd-ring-shadow: var(--rd-ring-inset) 0 0 0 calc(2px + var(--rd-ring-offset-width)) var(--rd-ring-color);
  box-shadow: var(--rd-ring-offset-shadow), var(--rd-ring-shadow), var(--rd-shadow, 0 0 #0000);
  --rd-ring-color: rgb(53 130 196 / var(--rd-ring-opacity));
  --rd-ring-opacity: 0.5;
}
body[class*=rd] .rd-top-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  --rd-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
body[class*=rd] .rd-top-bar .rd-logo h1 {
  margin: 0px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  --rd-text-opacity: 1;
  color: rgb(80 87 94 / var(--rd-text-opacity));
}
body[class*=rd] .rd-top-bar .rd-top-bar--right {
  display: flex;
  gap: 0.5rem;
}
body[class*=rd] .rd-admin {
  display: flex;
}
body[class*=rd] .rd-admin .rd-sidebar {
  display: flex;
  width: 18rem;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  border-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  --rd-border-opacity: 1;
  border-color: rgb(240 240 241 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  min-height: 100vh;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
@media (min-width: 1024px) {

  body[class*=rd] .rd-admin .rd-sidebar {
    width: 18rem;
  }
}
body[class*=rd] .rd-admin .rd-sidebar .rd-nav {
  margin: 0px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding: 0px;
}
body[class*=rd] .rd-admin .rd-sidebar .rd-nav li {
  margin: 0px;
}
body[class*=rd] .rd-admin .rd-sidebar .rd-nav li a {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-decoration-line: none;
  border-radius: 0.375rem;
  --rd-text-opacity: 1;
  color: rgb(120 124 130 / var(--rd-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body[class*=rd] .rd-admin .rd-sidebar .rd-nav li a:focus {
  --rd-shadow: 0 0 #0000;
  --rd-shadow-colored: 0 0 #0000;
  box-shadow: var(--rd-ring-offset-shadow, 0 0 #0000), var(--rd-ring-shadow, 0 0 #0000), var(--rd-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}
body[class*=rd] .rd-admin .rd-sidebar .rd-nav li a:hover {
  --rd-bg-opacity: 1;
  background-color: rgb(246 247 247 / var(--rd-bg-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}
body[class*=rd] .rd-admin .rd-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  height: -moz-fit-content;
  height: fit-content;
  width: 80rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.375rem;
  --rd-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  --rd-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --rd-shadow-colored: 0 1px 3px 0 var(--rd-shadow-color), 0 1px 2px -1px var(--rd-shadow-color);
  box-shadow: var(--rd-ring-offset-shadow, 0 0 #0000), var(--rd-ring-shadow, 0 0 #0000), var(--rd-shadow);
}
body[class*=rd] .rd-settings .rd-settings__section .rd-settings__section-header {
  margin: 0px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: rgba(0, 0, 0, 0.01);
}
body[class*=rd] .rd-settings .rd-settings__section .rd-settings__section-header h2 {
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --rd-text-opacity: 1;
  color: rgb(100 105 112 / var(--rd-text-opacity));
}
body[class*=rd] .rd-settings .rd-settings__section .rd-settings__section-header {
  border-top-width: 1px;
}
body[class*=rd] .rd-settings .rd-settings__footer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  border-top-width: 1px;
  --rd-bg-opacity: 1;
  background-color: rgb(246 247 247 / var(--rd-bg-opacity));
  padding: 1rem;
}
body[class*=rd] .rd-settings .rd-settings__footer button {
  border-radius: 0.375rem;
  --rd-bg-opacity: 1;
  background-color: rgb(53 130 196 / var(--rd-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --rd-text-opacity: 1;
  color: rgb(255 255 255 / var(--rd-text-opacity));
  --rd-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --rd-shadow-colored: 0 1px 2px 0 var(--rd-shadow-color);
  box-shadow: var(--rd-ring-offset-shadow, 0 0 #0000), var(--rd-ring-shadow, 0 0 #0000), var(--rd-shadow);
}
body[class*=rd] .rd-settings .rd-settings__footer button:hover {
  --rd-bg-opacity: 1;
  background-color: rgb(34 113 177 / var(--rd-bg-opacity));
}
body[class*=rd] .rd-settings .rd-settings__footer button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --rd-ring-offset-shadow: var(--rd-ring-inset) 0 0 0 var(--rd-ring-offset-width) var(--rd-ring-offset-color);
  --rd-ring-shadow: var(--rd-ring-inset) 0 0 0 calc(2px + var(--rd-ring-offset-width)) var(--rd-ring-color);
  box-shadow: var(--rd-ring-offset-shadow), var(--rd-ring-shadow), var(--rd-shadow, 0 0 #0000);
  --rd-ring-opacity: 1;
  --rd-ring-color: rgb(53 130 196 / var(--rd-ring-opacity));
  --rd-ring-offset-width: 2px;
}
body[class*=rd] .rd-field {
  display: grid;
  grid-template-columns: 550px 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 1rem;
  grid-template-rows: auto 1fr;
  align-items: flex-start;
}
body[class*=rd] .rd-field:has(:not(.rd-field__title)) .rd-field__type {
  grid-column: 2/-1;
}
body[class*=rd] .rd-field.rd-field--full {
  display: flex;
  flex-direction: column;
}
body[class*=rd] .rd-field.rd-field--full .rd-field__type {
  width: 100%;
}
body[class*=rd] .rd-field .rd-field__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  --rd-text-opacity: 1;
  color: rgb(100 105 112 / var(--rd-text-opacity));
}
body[class*=rd] .rd-field .rd-field__title .rd-field__label {
  display: flex;
  gap: 0.5rem;
}
body[class*=rd] .rd-field .rd-field__title .rd-field__label label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}
body[class*=rd] .rd-field .rd-field__title .rd-field__description {
  opacity: 0.9;
}
body[class*=rd] .rd-field .CodeMirror {
  height: 300px;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  --rd-border-opacity: 1;
  border-color: rgb(195 196 199 / var(--rd-border-opacity));
}
body[class*=rd] .rd-field.rd-field--switch > .rd-field__type,  body[class*=rd] .rd-field.rd-field--checkbox > .rd-field__type {
  grid-column: 2/-1;
  display: grid;
  gap: 0.25rem;
  --rd-text-opacity: 1;
  color: rgb(100 105 112 / var(--rd-text-opacity));
  grid-template-columns: repeat(2, 1fr);
}
body[class*=rd] .rd-field.rd-field--modal {
  align-items: center;
}
body[class*=rd] .rd-field.rd-field--switch {
  align-items: center;
}
body[class*=rd] .rd-field .rd-field__sub-fields {
  display: none;
}
body[class*=rd] .rd-field .rd-field__sub-fields:has(.rd-field--enabled) {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  --rd-bg-opacity: 1;
  background-color: rgb(246 247 247 / var(--rd-bg-opacity));
  padding: 1rem;
  --rd-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --rd-shadow-colored: 0 1px 3px 0 var(--rd-shadow-color), 0 1px 2px -1px var(--rd-shadow-color);
  box-shadow: var(--rd-ring-offset-shadow, 0 0 #0000), var(--rd-ring-shadow, 0 0 #0000), var(--rd-shadow);
}
body[class*=rd] .rd-field .rd-field__sub-fields .rd-field--enabled:first-child {
  margin-top: 0px !important;
}
body[class*=rd] .rd-field .rd-field__sub-fields .rd-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0px;
  border-style: none !important;
}
body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--enabled {
  margin-top: 2rem;
}
body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--message {
  margin-top: 1rem;
}
body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--custom,  body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--code,  body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--custom .rd-field__title,  body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--code .rd-field__title,  body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--textarea .rd-field__title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--custom .rd-field__type,  body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--code .rd-field__type,  body[class*=rd] .rd-field .rd-field__sub-fields .rd-field.rd-field--textarea .rd-field__type {
  grid-column: 1/-1;
  display: grid;
  width: 100%;
  gap: 0.25rem;
  --rd-text-opacity: 1;
  color: rgb(100 105 112 / var(--rd-text-opacity));
  padding-top: 0px !important;
}
body[class*=rd] .rd-field .rd-field__sub-fields .rd-field .rd-field__type {
  width: 100%;
}
body[class*=rd] .rd-field .rd-field__sub-fields .rd-field .rd-message {
  margin-bottom: 0px;
}
body[class*=rd] .rd-field .rd-field__sub-fields .rd-field--switch {
  align-items: flex-start;
}
body[class*=rd] .rd-field table {
  width: 100%;
  border-width: 1px;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --rd-text-opacity: 1;
  color: rgb(140 143 148 / var(--rd-text-opacity));
}
body[class*=rd] .rd-field table th {
  border-bottom-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  --rd-text-opacity: 1;
  color: rgb(100 105 112 / var(--rd-text-opacity));
}
body[class*=rd] .rd-field table td {
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --rd-text-opacity: 1;
  color: rgb(120 124 130 / var(--rd-text-opacity));
}
body[class*=rd] .rd-field .rd-tags {
  display: flex;
  gap: 0.5rem;
}
body[class*=rd] .rd-field .rd-tags .rd-tag {
  display: inline-flex;
  align-items: center;
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}
body[class*=rd] .rd-field .rd-tags .rd-tag.rd-tag--success {
  background-color: rgb(184 230 191 / 0.5);
  --rd-text-opacity: 1;
  color: rgb(0 92 18 / var(--rd-text-opacity));
}
body[class*=rd] .rd-field .rd-tags .rd-tag.rd-tag--warning {
  background-color: rgb(245 230 171 / 0.5);
  --rd-text-opacity: 1;
  color: rgb(97 66 0 / var(--rd-text-opacity));
}
body[class*=rd] .rd-field .rd-tags .rd-tag.rd-tag--danger {
  background-color: rgb(250 207 210 / 0.5);
  --rd-text-opacity: 1;
  color: rgb(138 36 36 / var(--rd-text-opacity));
}
body[class*=rd] .rd-field .rd-tags .rd-tag.rd-tag--info {
  background-color: rgb(197 217 237 / 0.5);
  --rd-text-opacity: 1;
  color: rgb(10 75 120 / var(--rd-text-opacity));
}
body[class*=rd] .rd-button {
  display: flex !important;
  height: 2rem !important;
  align-items: center !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  border-radius: 0.25rem;
  --rd-bg-opacity: 1;
  background-color: rgb(34 113 177 / var(--rd-bg-opacity));
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  --rd-text-opacity: 1;
  color: rgb(255 255 255 / var(--rd-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body[class*=rd] .rd-button:hover {
  --rd-bg-opacity: 1;
  background-color: rgb(19 94 150 / var(--rd-bg-opacity));
}
body[class*=rd] .rd-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --rd-ring-offset-shadow: var(--rd-ring-inset) 0 0 0 var(--rd-ring-offset-width) var(--rd-ring-offset-color);
  --rd-ring-shadow: var(--rd-ring-inset) 0 0 0 calc(2px + var(--rd-ring-offset-width)) var(--rd-ring-color);
  box-shadow: var(--rd-ring-offset-shadow), var(--rd-ring-shadow), var(--rd-shadow, 0 0 #0000);
  --rd-ring-color: rgb(53 130 196 / var(--rd-ring-opacity));
  --rd-ring-opacity: 0.5;
}
body[class*=rd] input[type=text], 
body[class*=rd] input[type=email], 
body[class*=rd] input[type=url], 
body[class*=rd] input[type=password], 
body[class*=rd] input[type=number], 
body[class*=rd] input[type=search], 
body[class*=rd] input[type=tel], 
body[class*=rd] input[type=color] {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  --rd-border-opacity: 1;
  border-color: rgb(195 196 199 / var(--rd-border-opacity));
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --rd-text-opacity: 1;
  color: rgb(100 105 112 / var(--rd-text-opacity));
}
body[class*=rd] input[type=text]:focus, 
body[class*=rd] input[type=email]:focus, 
body[class*=rd] input[type=url]:focus, 
body[class*=rd] input[type=password]:focus, 
body[class*=rd] input[type=number]:focus, 
body[class*=rd] input[type=search]:focus, 
body[class*=rd] input[type=tel]:focus, 
body[class*=rd] input[type=color]:focus {
  --rd-border-opacity: 1;
  border-color: rgb(53 130 196 / var(--rd-border-opacity));
  --rd-ring-opacity: 1;
  --rd-ring-color: rgb(53 130 196 / var(--rd-ring-opacity));
}
body[class*=rd] input[type=checkbox] {
  height: 1rem;
  width: 1rem;
  border-radius: 0.125rem;
  border-width: 1px;
  --rd-border-opacity: 1;
  border-color: rgb(220 220 222 / var(--rd-border-opacity));
  --rd-text-opacity: 1;
  color: rgb(34 113 177 / var(--rd-text-opacity));
  --rd-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --rd-shadow-colored: 0 1px 3px 0 var(--rd-shadow-color), 0 1px 2px -1px var(--rd-shadow-color);
  box-shadow: var(--rd-ring-offset-shadow, 0 0 #0000), var(--rd-ring-shadow, 0 0 #0000), var(--rd-shadow);
}
body[class*=rd] input[type=checkbox]:focus {
  --rd-ring-opacity: 1;
  --rd-ring-color: rgb(53 130 196 / var(--rd-ring-opacity));
}
body[class*=rd] textarea {
  display: block;
  height: 100px;
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  --rd-border-opacity: 1;
  border-color: rgb(195 196 199 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  padding: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --rd-text-opacity: 1;
  color: rgb(60 67 74 / var(--rd-text-opacity));
}
body[class*=rd] textarea:focus {
  --rd-border-opacity: 1;
  border-color: rgb(53 130 196 / var(--rd-border-opacity));
  --rd-ring-opacity: 1;
  --rd-ring-color: rgb(53 130 196 / var(--rd-ring-opacity));
}
body[class*=rd] select {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  --rd-border-opacity: 1;
  border-color: rgb(195 196 199 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  padding: 0.625rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --rd-text-opacity: 1;
  color: rgb(60 67 74 / var(--rd-text-opacity));
}
body[class*=rd] select:focus {
  --rd-border-opacity: 1;
  border-color: rgb(53 130 196 / var(--rd-border-opacity));
  --rd-ring-opacity: 1;
  --rd-ring-color: rgb(53 130 196 / var(--rd-ring-opacity));
}
body[class*=rd] .rd-toggle-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
body[class*=rd] .rd-toggle-switch .rd-toggle-switch-background {
  position: relative;
  display: inline-block;
  height: 1.25rem;
  width: 2.5rem;
  cursor: pointer;
  border-radius: 9999px;
  --rd-bg-opacity: 1;
  background-color: rgb(220 220 222 / var(--rd-bg-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body[class*=rd] .rd-toggle-switch span {
  --rd-text-opacity: 1;
  color: rgb(100 105 112 / var(--rd-text-opacity));
}
body[class*=rd] .rd-toggle-switch input {
  display: none;
}
body[class*=rd] .rd-toggle-switch input:checked + .rd-toggle-switch-background {
  --rd-bg-opacity: 1;
  background-color: rgb(53 130 196 / var(--rd-bg-opacity));
}
body[class*=rd] .rd-toggle-switch input:checked + .rd-toggle-switch-background .rd-toggle-switch-handle {
  transform: translateX(25px);
}
body[class*=rd] .rd-toggle-switch .rd-toggle-switch-handle {
  position: absolute;
  top: 0.25rem;
  left: 0px;
  height: 0.75rem;
  width: 0.75rem;
  --rd-translate-x: 0px;
  transform: translate(var(--rd-translate-x), var(--rd-translate-y)) rotate(var(--rd-rotate)) skewX(var(--rd-skew-x)) skewY(var(--rd-skew-y)) scaleX(var(--rd-scale-x)) scaleY(var(--rd-scale-y));
  border-radius: 9999px;
  transition-property: transform;
  --rd-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  --rd-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --rd-shadow-colored: 0 1px 3px 0 var(--rd-shadow-color), 0 1px 2px -1px var(--rd-shadow-color);
  box-shadow: var(--rd-ring-offset-shadow, 0 0 #0000), var(--rd-ring-shadow, 0 0 #0000), var(--rd-shadow);
  --rd-ring-offset-shadow: var(--rd-ring-inset) 0 0 0 var(--rd-ring-offset-width) var(--rd-ring-offset-color);
  --rd-ring-shadow: var(--rd-ring-inset) 0 0 0 calc(0px + var(--rd-ring-offset-width)) var(--rd-ring-color);
  box-shadow: var(--rd-ring-offset-shadow), var(--rd-ring-shadow), var(--rd-shadow, 0 0 #0000);
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(4px);
}
body[class*=rd] .rd-message {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-width: 1px;
  --rd-border-opacity: 1;
  border-color: rgb(220 220 222 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  padding: 0.5rem;
  --rd-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --rd-shadow-colored: 0 1px 2px 0 var(--rd-shadow-color);
  box-shadow: var(--rd-ring-offset-shadow, 0 0 #0000), var(--rd-ring-shadow, 0 0 #0000), var(--rd-shadow);
  font-size: 0.875rem;
  line-height: 1.25rem;
  --rd-text-opacity: 1;
  color: rgb(100 105 112 / var(--rd-text-opacity));
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body[class*=rd] .rd-message.rd-message--info {
  --rd-border-opacity: 1;
  border-color: rgb(158 194 230 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(240 246 252 / var(--rd-bg-opacity));
  --rd-text-opacity: 1;
  color: rgb(19 94 150 / var(--rd-text-opacity));
}
body[class*=rd] .rd-message.rd-message--success {
  --rd-border-opacity: 1;
  border-color: rgb(104 222 124 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(237 250 239 / var(--rd-bg-opacity));
  --rd-text-opacity: 1;
  color: rgb(0 112 23 / var(--rd-text-opacity));
}
body[class*=rd] .rd-message.rd-message--warning {
  --rd-border-opacity: 1;
  border-color: rgb(242 214 117 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(252 249 232 / var(--rd-bg-opacity));
  --rd-text-opacity: 1;
  color: rgb(117 81 0 / var(--rd-text-opacity));
}
body[class*=rd] .rd-message.rd-message--danger {
  --rd-border-opacity: 1;
  border-color: rgb(255 171 175 / var(--rd-border-opacity));
  --rd-bg-opacity: 1;
  background-color: rgb(252 240 241 / var(--rd-bg-opacity));
  --rd-text-opacity: 1;
  color: rgb(179 45 46 / var(--rd-text-opacity));
}

.rd-admin-bar.rd-admin-bar--scrollable .ab-sub-wrapper {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.rd-admin-bar > .ab-empty-item {
  display: flex !important;
  padding: 0 10px !important;
  margin-right: 10px !important;
}
.rd-admin-bar > .ab-empty-item:has(.rd-admin-counter) {
  padding: 0 0 0 10px !important;
}
.rd-admin-bar > .ab-empty-item .rd-admin-counter {
  display: flex !important;
  margin-left: 5px !important;
  width: 30px !important;
  max-height: 50px !important;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #d63638;
  border: 1px solid #b32d2e;
  color: #fff;
}
.rd-admin-bar .ab-sub-wrapper ul {
  display: flex !important;
  flex-direction: column !important;
}
.rd-admin-bar .ab-sub-wrapper ul li * {
  line-height: 2 !important;
}
.rd-admin-bar .ab-sub-wrapper ul li > div {
  display: flex !important;
  flex-direction: column !important;
  line-height: normal !important;
  padding: 10px 15px 15px 15px !important;
  height: auto !important;
}
.rd-admin-bar .ab-sub-wrapper ul li b {
  font-weight: 600 !important;
}
.rd-admin-bar .ab-sub-wrapper ul li:nth-child(even) div {
  background-color: #1D2327;
}

.rd-modal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 50;
  align-items: center;
  justify-content: center;
  background-color: rgb(60 67 74 / 0.5);
  display: none;
  overflow-y: auto;
  padding: 1rem;
}
.rd-modal.rd-modal--open {
  display: flex;
}
.rd-modal .rd-modal__content {
  width: 100%;
  max-width: 42rem;
  border-radius: 0.5rem;
  --rd-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rd-bg-opacity));
  --rd-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --rd-shadow-colored: 0 10px 15px -3px var(--rd-shadow-color), 0 4px 6px -4px var(--rd-shadow-color);
  box-shadow: var(--rd-ring-offset-shadow, 0 0 #0000), var(--rd-ring-shadow, 0 0 #0000), var(--rd-shadow);
}
.rd-modal .rd-modal__close {
  border-radius: 0.25rem;
  --rd-bg-opacity: 1;
  background-color: rgb(240 240 241 / var(--rd-bg-opacity));
  padding: 0.5rem;
  --rd-text-opacity: 1;
  color: rgb(60 67 74 / var(--rd-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.rd-modal .rd-modal__close:hover {
  --rd-bg-opacity: 1;
  background-color: rgb(220 220 222 / var(--rd-bg-opacity));
}
.rd-modal .rd-modal__close:focus {
  --rd-ring-offset-shadow: var(--rd-ring-inset) 0 0 0 var(--rd-ring-offset-width) var(--rd-ring-offset-color);
  --rd-ring-shadow: var(--rd-ring-inset) 0 0 0 calc(2px + var(--rd-ring-offset-width)) var(--rd-ring-color);
  box-shadow: var(--rd-ring-offset-shadow), var(--rd-ring-shadow), var(--rd-shadow, 0 0 #0000);
  --rd-ring-opacity: 1;
  --rd-ring-color: rgb(140 143 148 / var(--rd-ring-opacity));
  --rd-ring-offset-width: 2px;
}
.rd-modal .rd-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.rd-modal .rd-modal__header h2 {
  margin: 0px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --rd-text-opacity: 1;
  color: rgb(100 105 112 / var(--rd-text-opacity));
}
.rd-modal .rd-modal__body {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
.rd-modal .rd-modal__body .rd-field {
  grid-template-columns: 350px 1fr;
  align-items: center;
  padding: 1rem !important;
}
.rd-modal .rd-modal__footer {
  border-top-width: 1px;
  padding: 1rem;
}
